<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/theme-pastel.css">
    <title>Being Creaciones</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Being Creaciones</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../about.html">Sobre Nosotros</a></li>
                <li><a href="../shop.html">Tienda</a></li>
                <li><a href="../contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>